@model DentoWebMVC.Models.DentoWeb.Cliente

@{ ViewData["Title"] = "Nuevo Cliente";
    Layout = null;}



<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="mestrada">

    <link rel="stylesheet" href="~/css/loginStyle.css" />
</head>

<body style="background-image: url(https://gacetadental.com/wp-content/uploads/2019/09/dentista-paciente-1280x720.jpg); background-size:cover;">
    <div class="row">
        <div class="container">

            <form asp-action="CreateCliente" method="post" class="form-register">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h1 class="text-center text-primary" style="margin-top:0.1%"><strong>Regístrate</strong></h1>
                <div class="form-row">

                    <div class="col-md-12">
                        <label asp-for="nombres" class="control-label">Nombres</label>
                        <input asp-for="nombres" name="nombres" type="text" class="form-control" />
                        <span asp-validation-for="nombres" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="apellidos" class="control-label"></label>
                        <input asp-for="apellidos" name="apellidos" type="text" class="form-control" />
                        <span asp-validation-for="nombres" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label asp-for="dni" class="control-label"></label>
                        <input asp-for="dni" name="dni" type="text" class="form-control" />
                        <span asp-validation-for="dni" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="fechaNac" class="control-label"></label>
                        <input asp-for="fechaNac" name="fechaNac" type="date" class="form-control" />
                        <span asp-validation-for="fechaNac" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="correo" class="control-label"></label>
                        <input asp-for="correo" name="correo" type="email" class="form-control" />
                        <span asp-validation-for="correo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="telefono" class="control-label"></label>
                        <input asp-for="telefono" name="telefono" type="tel" class="form-control" />
                        <span asp-validation-for="telefono" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label asp-for="usuario" class="control-label">Usuario</label>
                        <input asp-for="usuario" name="usuario" type="text" class="form-control" />
                        <span asp-validation-for="usuario" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="passwd" class="control-label">Contraseña</label>
                        <input asp-for="passwd" name="passwd" type="password" class="form-control" />
                        <span asp-validation-for="passwd" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group text-center" style="margin-top:3%;margin-bottom:0.5%">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i>  Aceptar
                    </button>
                    <a class="btn btn-danger" href="/Home">
                        <i class="fas fa-window-close"></i>  Cancelar
                    </a>
                </div>

            </form>
        </div>
    </div>
</body>

