<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="~/images/icon.png" type="image/x-icon" />
    <title>DentoWeb</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DentoWebMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="mestrada">
</head>
<body>
    <header style="font-family: trueno">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="padding:0.5%;margin-left:2%"><img src="~/images/icon.png" height="27" width="27" /></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="margin-right:2.5%;margin-left:-1%"><img src="~/images/iso.png" height="25" width="165" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse text-uppercase" style="padding-left:5%">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Doctor" asp-action="DoctorPerfil"><strong>Mi Perfil</strong></a>
                        </li>
                        <li class="nav-item" style="padding-left:10%">
                            <a class="nav-link" asp-area="" asp-controller="Doctor" asp-action="Index"><strong>Citas</strong></a>
                        </li>
                        <li class="nav-item" style="padding-left:10%">
                            <a class="nav-link" asp-area="" asp-controller="Doctor" asp-action="ListaClientes"><strong>Pacientes</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:white;font-family:trueno">
        <div class="container text-center">
            &copy; 2020 - DentoWeb - Hecho con <i class="fas fa-heart"></i> pa' aprobar DIARS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
